<!DOCTYPE html>
<html>
<head>
  <title>RailsForum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="ht-default">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">RailsForum</a>
    </div>
  </nav>
  <% if current_page?('/') -%>
  <div class="jumbotron">
    <div class="container">
      <h1>RailsForum</h1>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
  <% end -%>
  <div class="container">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: 'alert ' + ('alert-success' if name == :notice || 'alert-error') %>
    <% end -%>
    <div class="row">
      <%= yield %>
    </div>
    <hr />
    <footer>
      <p>&copy; Mikelat</p>
    </footer>
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
