<!DOCTYPE html>
<html>
<head>
  <title>RailsForum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="top-menu">
    <nav class="ink-navigation mobile-menu hide-all show-tiny show-small" style="height: 20px;">
      <ul class="menu horizontal black">
        <li><%= link_to fa_icon "bars lg" %></li>
      </ul>
    </nav>
    <nav class="ink-navigation ink-grid hide-tiny hide-small">
      <ul class="menu horizontal black">
        <li class="active"><a href="#">Forum</a></li>
        <li><a href="#">Members</a></li>
        <li><a href="#">Search</a></li>
        <li class="fr"><a href="/">Login</a></li>
        <li class="fr"><a href="/">Register</a></li>
      </ul>
    </nav>
  </div>

  <div class="ink-grid">
  <%= render "layouts/breadcrumbs" %>
  <% flash.each do |name, msg| -%>
    <%= flash_msg name, msg %>
  <% end -%>
  </div>

  <div class="content">
    <%= yield %>
  </div>

  <footer class="clearfix">
    <div class="ink-grid">
      <p class="note">&copy; <%= Time.now.year %> Mike Lat</p>
    </div>
  </footer>
<!--   <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <%= link_to "RailsForum", root_path, class: 'navbar-brand' %>
    </div>
  </nav>
  <div class="container">
    <hr />
    <footer>
      <p></p>
    </footer>

  </div> -->

  <!-- <%= debug(params) if Rails.env.development? %> -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>

